<h1>All Users</h1>

<%= link_to "<- Home", root_path %>

<% if current_user.roles.first.name == "admin" %>
    <% @users.each do |user| %>
        <ul>
            <li>
                <div>Email: <%= user.email %></div>
                <div>Roles: <%= user.roles.pluck(:name).join(', ') %></div>
                <%= link_to "Edit role", edit_user_path(user) %>
            </li>    
        </ul>
    <% end %>
<% end %>